<h1>Listing movie_models</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movie_models.each do |movie_model| %>
      <tr>
        <td><%= link_to 'Show', movie_model %></td>
        <td><%= link_to 'Edit', edit_movie_model_path(movie_model) %></td>
        <td><%= link_to 'Destroy', movie_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie model', new_movie_model_path %>
